@keyframes allWeather {
    50% {
        transform: translateY(-5px);
    }
}

.sunny {
    animation: allWeather 5s linear infinite;
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    left: -65px;
    top: 40px;
}

.sunny1 {
    animation: sunny 5s linear infinite;
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    left: 282px;
    top: 40px;
}

.sunny:after,
.sunny1:after {
    background: #FFEE44;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 15px;
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
}

.sunny:after {
    left: 0px;
    top: 0px;
}

.sunny1:after {
    left: 0px;
    top: 0px;
}


.cloudy,
.cloudy1 {
    animation: allWeather 5s ease-in-out infinite;
    background: #ffffff;
    border-radius: 50%;
    box-shadow:
        #ffffff 52px -12px 0 -4px,
        #ffffff 20px -20px,
        #ffffff 24px 8px,
        #ffffff 48px 12px 0 -8px,
        #ffffff 68px 4px 0 -4px;
    height: 50px;
    width: 50px;
    position: absolute;
}

.cloudy {
    left: -115px;
    top: 45px;
}

.cloudy1 {
    left: 270px;
    top: 45px;
}

.rainy,
.rainy1 {
    animation: allWeather 5s ease-in-out infinite 1s;
    background: #CCCCCC;
    border-radius: 50%;
    box-shadow:
        #CCCCCC 52px -12px 0 -4px,
        #CCCCCC 20px -20px,
        #CCCCCC 24px 8px,
        #CCCCCC 48px 12px 0 -8px,
        #CCCCCC 68px 4px 0 -4px;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;

}

.rainy {
    left: -115px;
    top: 45px;
}

.rainy1 {
    left: 270px;
    top: 45px;
}

.rainy:before,
.rainy1:before {
    animation: rainy_rain .7s infinite linear;
    content: '';
    background: #CCCCCC;
    border-radius: 50%;
    display: block;
    height: 6px;
    width: 3px;
    opacity: 0.3;
    transform: scale(.9);
}



@keyframes rainy_rain {
    0% {
        box-shadow:
            rgba(0, 0, 0, 0) 30px 30px,
            rgba(0, 0, 0, 0) 40px 40px,
            #000 50px 75px,
            #000 55px 50px,
            #000 70px 100px,
            #000 80px 95px,
            #000 110px 45px,
            #000 90px 35px;
    }

    25% {
        box-shadow:
            #000 30px 45px,
            #000 40px 60px,
            #000 50px 90px,
            #000 55px 65px,
            rgba(0, 0, 0, 0) 70px 120px,
            rgba(0, 0, 0, 0) 80px 120px,
            #000 110px 70px,
            #000 90px 60px;
    }

    26% {
        box-shadow:
            #000 30px 45px,
            #000 40px 60px,
            #000 50px 90px,
            #000 55px 65px,
            rgba(0, 0, 0, 0) 70px 40px,
            rgba(0, 0, 0, 0) 80px 20px,
            #000 110px 70px,
            #000 90px 60px;
    }

    50% {
        box-shadow:
            #000 30px 70px,
            #000 40px 80px,
            rgba(0, 0, 0, 0) 50px 100px,
            #000 55px 80px,
            #000 70px 60px,
            #000 80px 45px,
            #000 110px 95px,
            #000 90px 85px;
    }

    51% {
        box-shadow:
            #000 30px 70px,
            #000 40px 80px,
            rgba(0, 0, 0, 0) 50px 45px,
            #000 55px 80px,
            #000 70px 60px,
            #000 80px 45px,
            #000 110px 95px,
            #000 90px 85px;
    }

    75% {
        box-shadow:
            #000 30px 95px,
            #000 40px 100px,
            #000 50px 60px,
            rgba(0, 0, 0, 0) 55px 95px,
            #000 70px 80px,
            #000 80px 70px,
            rgba(0, 0, 0, 0) 110px 120px,
            rgba(0, 0, 0, 0) 90px 110px;
    }

    76% {
        box-shadow:
            #000 30px 95px,
            #000 40px 100px,
            #000 50px 60px,
            rgba(0, 0, 0, 0) 55px 35px,
            #000 70px 80px,
            #000 80px 70px,
            rgba(0, 0, 0, 0) 110px 25px,
            rgba(0, 0, 0, 0) 90px 15px;
    }

    100% {
        box-shadow:
            rgba(0, 0, 0, 0) 30px 120px,
            rgba(0, 0, 0, 0) 40px 120px,
            #000 50px 75px,
            #000 55px 50px,
            #000 70px 100px,
            #000 80px 95px,
            #000 110px 45px,
            #000 90px 35px;
    }
}

.stormy,
.stormy1 {
    animation: allWeather 5s ease-in-out infinite;
    background: #222222;
    border-radius: 50%;
    box-shadow:
        #222222 52px -12px 0 -4px,
        #222222 20px -20px,
        #222222 24px 8px,
        #222222 48px 12px 0 -8px,
        #222222 68px 4px 0 -4px;
    height: 50px;
    width: 50px;
    position: absolute;
}

.stormy {
    left: -115px;
    top: 45px;
}

.stormy1 {
    left: 270px;
    top: 45px;
}

.stormy:before,
.stormy1:before {
    animation: stormy_thunder 2s steps(1, end) infinite;
    border-left: 0px solid transparent;
    border-right: 7px solid transparent;
    border-top: 43px solid yellow;
    box-shadow: yellow -7px -32px;
    content: '';
    display: block;
    height: 0;
    width: 0;
    transform: rotate(14deg);
    transform-origin: 50% -60px;
    position: absolute;
}

.stormy:after,
.stormy1:after {
    animation: rainy_rain .7s infinite linear;
    content: '';
    background: #CCCCCC;
    border-radius: 50%;
    display: block;
    height: 6px;
    width: 3px;
    opacity: 0.3;
    transform: scale(.9);
}

.stormy:before {
    left: 50px;
    top: 70px;
}

.stormy1:before {
    left: 50px;
    top: 70px;
}


@keyframes stormy_thunder {
    0% {
        transform: rotate(20deg);
        opacity: 1;
    }

    5% {
        transform: rotate(-34deg);
        opacity: 1;
    }

    10% {
        transform: rotate(0deg);
        opacity: 1;
    }

    15% {
        transform: rotate(-34deg);
        opacity: 0;
    }
}

.cloud-sun,
.cloud-sun1 {
    background: #FFEE44;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 5px;
    height: 50px;
    width: 50px;
    position: absolute;
}

.cloud-sun {
    left: -60px;
    top: 20px;
}

.cloud-sun1 {
    left: 310px;
    top: 20px;
}

.cloud-sun:after,
.cloud-sun1:after {
    content: '';
    animation: allWeather 5s ease-in-out infinite;
    background: #ffffff;
    border-radius: 50%;
    box-shadow:
        #ffffff 52px -12px 0 -4px,
        #ffffff 20px -20px,
        #ffffff 24px 8px,
        #ffffff 48px 12px 0 -8px,
        #ffffff 68px 4px 0 -4px;
    height: 50px;
    width: 50px;
    position: absolute;
    left: -50px;
    top: 30px;
}