* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Khula', sans-serif;
}

@-webkit-keyframes todayAnimation {
    0% {
        width: 10px;
        height: 10px;
        background-color: #000000;
    }

    50% {
        width: 10px;
        height: 10px;
        background-color: #801919;
    }

    100% {
        width: 10px;
        height: 10px;
        background-color: #ccea1d;
    }
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/img/bg-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header,
.footer {
    background-color: #a9eab7;
    opacity: 0.7;
    padding: 10px 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-wrapper {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.header-button {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url(/img/header-btn.svg);
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
    border: none;
}

.header-time {
    font-size: 30px;
    margin: 0 auto;

}

.main-container {
    display: flex;
}

.weather-today {
    width: 500px;
    margin-left: calc(50vw);
    transform: translateX(-50%);
    position: relative;
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 8px;
}

.search-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 100px;
    position: absolute;
    right: 60px;
    top: 69px;
}

.search-wrapper {
    display: flex;
}

.search-input {
    padding: 12px 80px 12px 30px;
    border-radius: 0 0 0 24px;
    border: 1px solid #000000;
    border-top: none;
    background: no-repeat url(/img/bg-main_imput.svg);
    background-size: 12px;
    background-position-x: 10px;
    background-position-y: center;
    outline: 0;
    cursor: pointer;
    color: #fff;
    background-color: rgb(169 169 169 / 50%);
}

.search-input::placeholder {
    color: #fff;
}

.search-btn {
    padding: 12px;
    background-color: transparent;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 0 0 24px 0;
    border-left: none;
    border-top: none;
    color: #fff;
}

.withResults>.search-btn,
.withResults>.search-input {
    border-radius: 0;
}

.withResults.search-list {
    display: block;
    width: 340px;
}

.search-list {
    background-color: rgb(169 169 169 / 50%);
    border-radius: 0 0 25px 25px;
    border: 1px solid #000000;
    border-top: none;
    padding: 5px 0;
    display: none;
}

.search-element {
    width: 100%;
    overflow: hidden;
    padding: 0 30px;

}

.search-element:not(:last-child) {
    border-bottom: 1px solid rgb(105 105 105);
}

.subInformation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.temperature,
.weatherDescription {
    text-align: center;
}

.reset-btn {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    background-image: url(../img/resetBtn.png);
    background-size: cover;
    position: absolute;
}

.date-today,
.day-week {
    margin-top: 15px;
    text-align: center;

}

.weather-condition {
    position: relative;
}

.today {
    font-size: 100px;
    font-family: 'Caveat', cursive;
    color: #acf4ca;
    text-align: center;
    position: relative;
}

.main-information {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.newCityName {
    font-size: 25px;
}

.name-city,
.temperature {
    font-size: 40px;
    color: #000000;
}

.time {
    width: 100%;
    text-align: center;
}

.extra-information {
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin-left: 30px;

}

.humidity:hover,
.speed-wind:hover,
.pressure:hover,
.date-today:hover,
.day-week:hover,
.name-city:hover,
.temperature:hover {
    color: #a9eab7;
}

.weather-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
}

.weather-item {
    width: 150px;
    height: 140px;
    background-color: rgba(238, 238, 242, 0.75);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-item:hover {
    transform: scale(1.3);
    transition: all 0.3s linear;
}

.footer-container {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.footer-info {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
}

.footer-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}